<div *ngIf="loginService.hasLogin">
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">超级管理员</a>
			</div>
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				<ul class="nav navbar-nav">
					
					<li id="staff_li"><a routerLink="/list-users" routerLinkActive="active">用户管理</a></li>
					<li id="staff_li"><a routerLink="/admin-add-vacationtype" routerLinkActive="active">请假类型</a></li>
					<li id="staff_li"><a routerLink="/admin-add-vacationtype" routerLinkActive="active">加班类型</a></li>
					<li id="search_li"><a routerLink="/staff-checkin" routerLinkActive="active">打卡管理</a></li>
					
				</ul>

				<ul class="nav navbar-nav navbar-right">
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{loginService.userName}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<!-- <li><a href="#">修改密码</a></li> -->
							<!-- <li><a href="">修改密码</a></li> -->
							<li>
				                <a href="javascript:void(0);" (click)="doLogout()">退出</a>
				            </li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>


