<!doctype html>
<html>
<head>
	<title>登录</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <!--自适应界面,如果出现,在某些设备出现界面偏小的话,检查一下有没有加入这句 -->
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

	<link type="text/css" rel="stylesheet" href="./assets/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="./assets/css/bootstrap-select.css"/>
    <link type="text/css" rel="stylesheet" href="./assets/css/question-content.css"/>

    <script type="text/javascript" src="./assets/js/jquery.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.validate.js"></script>
    <script type="text/javascript" src="./assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="./assets/js/messages_cn.js"></script>

    <script type="text/javascript" src="./assets/js/bootstrap-select.js"></script>

    <link rel="stylesheet" href="./assets/js/jqueryui/jquery-ui.min.css">
  	<script src="./assets/js/jqueryui/jquery.min.js"></script>
  	<script src="./assets/js/jqueryui/jquery-ui.min.js"></script>
  	<link rel="./assets/js/jqueryui/style.css">
</head>
<body>
  	<app-root>Loading...</app-root>
</body>
</html>
