<!DOCTYPE html>

<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<!--自适应界面,如果出现,在某些设备出现界面偏小的话,检查一下有没有加入这句 -->
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
		<title></title>
		<link type="text/css" rel="stylesheet" href="./assets/css/bootstrap.css"/>

		<script type="text/javascript" src="./assets/js/jquery.js"></script>
		<script type="text/javascript" src="./assets/js/jquery.validate.js"></script>
		<script type="text/javascript" src="./assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="./assets/js/messages_cn.js"></script>

		<script type="text/javascript">
			$().ready(function(){

				$("#loginForm").validate({
					rules:{
						username:"required",
						password:"required"
					},
				});
			});
		</script>

	</head>
	
<body>
	<div class="container-fluid">
		<div class="row col-lg-12 hidden-xs" style="margin-top:80px">
		</div>
		<div class="row col-lg-12">
			<h2 align="center">考勤系统</h2>
		</div>
		
		<div class="row col-lg-12" style="margin-top:40px">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="col-lg-7 hidden-xs">
					<img class="img-responsive" src="./assets/images/home_test.jpg">
				</div>
				
				<div class="col-lg-5 col-xs-12">
					 <div class="panel panel-primary">
	                    <div class="panel-heading">
	                        <h3 class="panel-title">登录</h3>
	                    </div>
	                    <div class="panel-body">
	                            <fieldset>
	                                <legend>
	                                	<?php 
	                                		if($login_state == 'fail') 
	                                			echo $message;  
	                                	?>
	                                </legend>
	                               	<form id="loginForm" action="<?php echo site_url('/home/login') ?>" method="post">
	                               		<div class="form-group row" >
		                                    <div class="col-lg-12  login-textbox">
		                                        <input class="form-control" type="text" id="username" name="username" placeholder="用户名" >
		                                    </div>
	                                	</div>

	                                	<div class="form-group row" >
		                                    <div class="col-lg-12  login-textbox">
		                                        <input class="form-control" type="password" id="password" name="password" placeholder="密码">  
		                                    </div>
	                                	</div>
	                                	<div class="form-group row" >
		                                    
		                                    <div class="col-lg-12  login-textbox">
		                                        <button type="submit" class="btn btn-primary btn-block">登录</button>
		                                    </div>
		                                    
	                                	</div>                               	
      									
	                               	</form>
	    
	                                
	                                
	                            </fieldset>
	                    </div>
	                </div>
				</div>
				<div class="clo-xs-1"></div>
			</div>
			<div class="clo-lg-2"></div>
		</div>
	</div>
</body>
</html>