<!doctype html>
<html>
<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <!--自适应界面,如果出现,在某些设备出现界面偏小的话,检查一下有没有加入这句 -->
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
		<title>登录</title>
		<link type="text/css" rel="stylesheet" href="./assets/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="./assets/css/bootstrap-select.css"/>
    <link type="text/css" rel="stylesheet" href="./assets/css/question-content.css"/>

    <script type="text/javascript" src="./assets/js/jquery.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.validate.js"></script>
    <script type="text/javascript" src="./assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="./assets/js/messages_cn.js"></script>

    <script type="text/javascript" src="./assets/js/bootstrap-select.js"></script>

    <link rel="stylesheet" href="./assets/js/jqueryui/jquery-ui.min.css">
  <script src="./assets/js/jqueryui/jquery.min.js"></script>
  <script src="./assets/js/jqueryui/jquery-ui.min.js"></script>
   <link rel="./assets/js/jqueryui/style.css">
	</head>
<body>
 <div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">申请假期</h3>
    </div>
    <div class="panel-body">
      <?php echo validation_errors(); ?>
      <form id="vacation_apply_form" method="post" class="form-horizontal"  enctype="multipart/form-data" action="<?php echo site_url('staff_home/vacation_apply')?>" >
        <fieldset>
          <input type="text" id="staff_id" name="staff_id" value="<?=$staff['id']?>" class="hidden">
          <div class="form-group">
            <label class="col-lg-2 col-xs-4 control-label">请假类型:</label>
            <div class="col-lg-8 col-xs-8">
              <select class="form-control" name="vacation_type_id" id="vacation_type_id">
                <option value="0">自定义</option>
                <?php foreach ($vacation_types as $item) :?>
                  <option value="<?=$item['id']?>">
                    <?=$item['name']?>&nbsp&nbsp建议天数(<?=$item['days']?>天)&nbsp工资倍数(<?=$item['salary_times']?>倍)
                  </option>
                <?php endforeach; ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-xs-4 control-label">工资计算（倍）:</label>
            <div class="col-lg-8 col-xs-8">
              <input class="form-control" id="salary_times" name="salary_times"  placeholder="自定义假期类型时填写"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-xs-4 control-label">开始日期:</label>
            <div class="col-lg-8 col-xs-8">
              <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                         <input class="form-control" id="start_date" name="start_date" size="16" type="text"readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
            </div>               
                </div>
          
          <div class="form-group">
            <label class="col-lg-2 col-xs-4 control-label">结束日期:</label>
            <div class="col-lg-8 col-xs-8">
              <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                         <input class="form-control" id="end_date" name="end_date" size="16" type="text"readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      </div>
            </div>               
                </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">备注:</label>
            <div class="col-lg-8">
              <input class="form-control" id="remark" name="remark"/>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">提交</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</body>
</html>
