<!doctype html>
<html>
<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <!--自适应界面,如果出现,在某些设备出现界面偏小的话,检查一下有没有加入这句 -->
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
		<title>登录</title>
		<link type="text/css" rel="stylesheet" href="./assets/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="./assets/css/bootstrap-select.css"/>
    <link type="text/css" rel="stylesheet" href="./assets/css/question-content.css"/>

    <script type="text/javascript" src="./assets/js/jquery.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.validate.js"></script>
    <script type="text/javascript" src="./assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="./assets/js/messages_cn.js"></script>

    <script type="text/javascript" src="./assets/js/bootstrap-select.js"></script>

    <link rel="stylesheet" href="./assets/js/jqueryui/jquery-ui.min.css">
  <script src="./assets/js/jqueryui/jquery.min.js"></script>
  <script src="./assets/js/jqueryui/jquery-ui.min.js"></script>
   <link rel="./assets/js/jqueryui/style.css">
	</head>
<body>
  <div class="container">
  <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">请假申请详情</h3>
    </div>
    <div class="panel-body">
      <fieldset>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">请假类型:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="question-content"><?=$vacation_apply['vacation_type']?> </p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">开始日期:</label>
              <div class="col-lg-9 col-xs-7">
                <p class="text-primary question-content"><?=$vacation_apply['start_date']?></p> 
              </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">结束日期:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="text-primary question-content"><?=$vacation_apply['end_date']?></p>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">工资计算:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="text-primary question-content"><?=$vacation_apply['salary_times']?></p>
              </div>
          </div>
          <?php if($vacation_apply['remark']){?>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">申请人备注:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="text-primary question-content"><?=$vacation_apply['remark']?></p>
              </div>
          </div>
          <?php }?>
          <?php if($vacation_apply['department_manager_state']){?>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">部门经理意见:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="text-primary question-content">
              <?php if($vacation_apply['department_manager_state']==1){?>同意
              <?php } else if($vacation_apply['department_manager_state']==2){?>
                不同意
                <?php }?>
              </p>
              </div>
          </div>
          <?php }?>
          <?php if($vacation_apply['department_manager_remark']){?>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">部门经理备注:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="text-primary question-content"><?=$vacation_apply['department_manager_remark']?></p>
              </div>
          </div>
          <?php }?>
          <?php if($vacation_apply['vice_manager_state']){?>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">副总经理意见:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="text-primary question-content">
              <?php if($vacation_apply['vice_manager_state']==1){?>同意
              <?php } else if($vacation_apply['vice_manager_state']==2){?>
                不同意
                <?php }?>
              </p>
              </div>
          </div>
          <?php }?>
          <?php if($vacation_apply['vice_manager_remark']){?>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">副总经理备注:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="text-primary question-content"><?=$vacation_apply['vice_manager_remark']?></p>
            </div>
          </div>
          <?php }?>
          <?php if($vacation_apply['general_manager_state']){?>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">总经理意见:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="text-primary question-content">
              <?php if($vacation_apply['general_manager_state']==1){?>同意
              <?php } else if($vacation_apply['general_manager_state']==2){?>
                不同意
                <?php }?>
              </p>
              </div>
          </div>
          <?php }?>
          <?php if($vacation_apply['general_manager_remark']){?>
          <div class="form-group row">
            <label class="col-lg-3 col-xs-5 control-label">总经理备注:</label>
            <div class="col-lg-9 col-xs-7">
              <p class="text-primary question-content"><?=$vacation_apply['general_manager_remark']?></p>
            </div>
          </div>
          <?php }?>
        </fieldset>
    </div>
  </div>
  </div>

</div>
</body>
</html>
