<div *ngIf="loginService.hasLogin">
<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">个人信息</h3>
		</div>
		<div class="panel-body">
			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">姓名：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>
				</div>
			</div>
			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">工号：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>
				</div>
			</div>

			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">年假：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>
				</div>
			</div>   
			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">邮箱：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>
				</div>
			</div>           

			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">身份：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>

				</div>
			</div>
			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">部门：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>
				</div>
			</div>
			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">项目组：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>
				</div>
			</div>
			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">基本工资：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>
				</div>
			</div>
			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">出生年份：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>
				</div>
			</div>
			<div class="row form-group" style="border-bottom:1px ridge;">
				<label  class="col-lg-5 col-xs-4 control-label">上班时间：</label>
				<div class="col-lg-7 col-xs-8">
					<label  class="ontrol-label"></label>
				</div>
			</div>

		</div>
	</div>
</div>
</div>
