<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">添加假期类型</h3>
		</div>
		<div class="panel-body">
			<form id="vacation_type_add_form" method="post" class="form-horizontal"  enctype="multipart/form-data" action="<?php echo site_url('admin_vacation_type/add')?>" >
				<fieldset>
					<div class="form-group">
						<label class="col-lg-2 col-xs-4 control-label">名称:</label>
						<div class="col-lg-8 col-xs-8">
							<input class="form-control" id="name" name="name"/>
						</div>

					</div>
					<div class="form-group">
						<label class="col-lg-2 col-xs-4 control-label">建议天数:</label>
						<div class="col-lg-8 col-xs-8">
							<input class="form-control" id="days" name="days"/>
						</div>

					</div>
					<div class="form-group">
						<label class="col-lg-2 col-xs-4 control-label">工资计算:</label>
						<div class="col-lg-8 col-xs-8">
							<input class="form-control" id="salary_times" name="salary_times"/>
						</div>

					</div>
					
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2 col-xs-4 col-xs-offset-4">
							<button type="submit" class="btn btn-primary">提交</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>