  <div class="navbar navbar-inverse">
   <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">员工</a>
</div>
<div class="navbar-collapse collapse navbar-inverse-collapse">
  <ul class="nav navbar-nav">
    <li id="main_page_li"><a href="<?php echo site_url('staff_home/index')?>">主页</a></li>
    <li id="history_li"><a href="<?php echo site_url('staff_history/index')?>">历史记录</a></li>
    <li id="search_li"><a href="<?php echo site_url('search/index')?>">查询</a></li>
    <?php if($this->session->userdata('o_role_id') != 2){?>
    <li id="approval_li"><a href="<?php echo site_url('approval/index')?>">审批</a></li>
    <?php }?>
</ul>

<ul class="nav navbar-nav navbar-right">

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><?php echo $this->session->userdata('o_username')?> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <!-- <li><a href="#">修改密码</a></li> -->
        <li><a href="<?php echo site_url('staff_home/change_password') ?>">修改密码</a></li>
        <li><a href="<?php echo site_url('staff_home/logout') ?>">退出</a></li>
    </ul>
</li>

</ul>
</div>
</div>
</div>






<!-- <app-staffvacation></app-staffvacation> 

<app-staffinfo></app-staffinfo>
 -->
